<main class="form-signin" style="position: relative; top: 50px">
    <form>

        <div class="text-center">
            <img class="mb-4" src="../../../assets/images/register.jpg" alt="" width="120" height="120">

        </div>
        <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Registro</h1>
        <div class="form-floating">
            <input name="email" [(ngModel)]="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com" style="text-align: center;">
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input name="password" [(ngModel)]="password" type="password" class="form-control" id="floatingPassword" placeholder="Password"  style="text-align: center;">
            <label for="floatingPassword">Password</label>
        </div>
        <div _ngcontent-wyy-c51="" class="col-sm-12 text-center" style="position: relative; top: 13px;"> Ya tienes una Cuenta? <a _ngcontent-wyy-c51="" routerlink="auth" class="text-primary m-l-5" ng-reflect-router-link="auth" href="auth"><b _ngcontent-wyy-c51="">Logueate</b></a>
        </div>
        <br>

        <button (click)="register( email, password )"  class="w-100 btn btn-lg btn-primary" type="submit" style="position: relative; top: 10px; border-radius: 20px;">Registrarse</button>
    </form>
</main>
