
<ng-container *ngFor="let note of filterSearch(allNotes)">
    <div (click)="editNote(note)" class="create">
        <div class="date ms-2">
            <div >{{note.dateCreate['seconds'] * 1000  | date: 'd/M/yy'}}</div>
        </div>
        <div class="ms-2">

            <div style="text-align: center;">
                {{note.title}}
            </div>
            <div style="text-align: center; font-family: serif; font-size: 17px;">
                {{note.text}}
            </div>
        </div>
    </div>
</ng-container>

<button routerLink="/newNote" class="btn  button-plus">
  <svg-icon src="../../../assets/icons/1486485557-add-create-new-more-plus_81188.svg" [svgStyle]="{ 'width.px':40 }"></svg-icon>
</button>