<nav class="navbar navbar-expand navbar-light bg-light nav-custom">
    <div class="container-fluid">
        <button class="btn  main-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
          <svg-icon src="../../../assets/icons/bars-solid.svg" [svgStyle]="{ 'width.px':22 }"></svg-icon>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Notas
          </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>

            </ul>
            <form class="d-flex">
                <input type="text" name="buscar" placeholder="Buscar..." class="search-input" id="txt-buscar-tag" style="width: 150px; right: 4px;position: relative;" value="">
                <button type="submit" class="btn-search"> 
                     <!-- <span class="hidden-text"> -->
                        <svg-icon src="../../../assets/icons/search-solid.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
                     <!-- </span> -->
                </button>
            </form>
            <div class="dropstart">
                <svg-icon data-bs-toggle="dropdown" aria-expanded="false" class="ms-3" src="../../../assets/icons/ellipsis-v-solid.svg" [svgStyle]="{ 'width.px':10 }"></svg-icon>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a (click)="logout()" routerLink="/login" class="dropdown-item" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>





  <div  class="offcanvas offcanvas-start" style="width: 220px; background: green;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        Menu
        <button  type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- <div>
            Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
        </div> -->
         <div  class="dropdown mt-2">
            <button data-bs-dismiss="offcanvas" class="btn btn-primary" style="border-radius: 10px; background: black; position: relative; top: 10px;" type="button">
                <a class="nav-link" routerLink="login">Login</a>
       </button>
       <button data-bs-dismiss="offcanvas" routerLink="register" class="btn btn-secondary" style="border-radius: 10px; background: black; top: 40px; position: relative;" type="button">
        <a class="nav-link " routerLink="register">Register</a>
      </button>
            <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul> -->
        </div>
    </div>
</div>