
.btn-search{

    background: green;
}

.dropstart .dropdown-menu[data-bs-popper] {
    top: 34px;
    right: 0%;
    left: auto;
    margin-top: 0;
    margin-right: 0.125rem;
    border-radius: 20px;
    border-color: green;
}