<nav class="navbar navbar-expand navbar-light bg-light nav-custom">
    <div class="container-fluid">
        <button (click)="save()" class="btn  main-button" type="button">
        <svg-icon src="../../../assets/icons/check-solid.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>
    </button>
        <button (click)="deleteNote()" class="btn  main-button" type="button">
      <svg-icon  src="../../../assets/icons/times-solid.svg" [svgStyle]="{ 'width.px':17 }"></svg-icon>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <form class="d-flex">
                <svg-icon src="../../../assets/icons/folder-solid.svg" [svgStyle]="{ 'width.px':20 }"></svg-icon>

            </form>
            <div class="dropstart">
                <svg-icon data-bs-toggle="dropdown" aria-expanded="false" class="ms-3" src="../../../assets/icons/ellipsis-v-solid.svg" [svgStyle]="{ 'width.px':8 }"></svg-icon>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>


        </div>
    </div>
</nav>