

.dropstart .dropdown-menu[data-bs-popper] {
    top: 70px;
    right: 0%;
    left: auto;
    margin-top: 0;
    margin-right: 0.125rem;
    border-radius: 20px;
    border-color: white;
    font-family: serif;
    font-style: italic;
    font-size: 20px;
    background-color: rgba(5, 131, 100, 0.274);
}
